<div class="card border-primary mb-3">
    <div class="card-body text-primary">
        <h5 class="card-title">Matriculas </h5>
        <form (ngSubmit)="create()" class="center">

            <div class="form-group row center">
                <label for="usuario" class="col-form-label col-sm-2">Usuario</label>
                <div class="col-sm-6 my-2">
                    <input type="text" class="form-control nuevo" *ngIf="!matriculaEditar" [(ngModel)]="matricula.usuario" name="usuario" required="true">
                    <input type="text" class="form-control" *ngIf="matriculaEditar" [(ngModel)]="matriculaEditar.usuario" name="usuario" required="true">
                </div>
            </div>

            <div class="form-group row center">
                <label for="programa" class="col-form-label col-sm-2">Programa</label>
                <div class="col-sm-6 my-2">
                    <input type="text" class="form-control nuevo" *ngIf="!matriculaEditar" [(ngModel)]="matricula.programa" name="programa" required="true">
                    <input type="text" class="form-control" *ngIf="matriculaEditar" [(ngModel)]="matriculaEditar.programa" name="programa" required="true">
                </div>
            </div>

            <div class="form-group row center">
                <label for="fechaMatricula" class="col-form-label col-sm-2">Fecha De Matricula (YYYY-MM-DD)</label>
                <div class="col-sm-6 my-2">
                  <input type="text" class="form-control" *ngIf="!matriculaEditar" [(ngModel)]="matricula.fechaMatricula" name="fechaMatricula" required="true">
                  <input type="text" class="form-control" *ngIf="matriculaEditar" [(ngModel)]="matriculaEditar.fechaMatricula" name="fechaMatricula" required="true">
                </div>
              </div>

            <div class="form-group row center">
                <label for="valor" class="col-form-label col-sm-2">Valor</label>
                <div class="col-sm-6 my-2">
                    <input type="text" class="form-control nuevo" *ngIf="!matriculaEditar" [(ngModel)]="matricula.valor" name="valor" required="true">
                    <input type="text" class="form-control" *ngIf="matriculaEditar" [(ngModel)]="matriculaEditar.valor" name="valor" required="true">
                </div>
            </div>

            <div class="form-group row center">
                <label for="estado" class="col-form-label col-sm-2">Estado</label>
                <div class="col-sm-6 my-2">
                    <select name="estado" class="form-select nuevo" *ngIf="!matriculaEditar" [(ngModel)]="matricula.estado">
                        <option [value]="0">seleccione</option>
                        <option [value]="item" *ngFor="let item of estados">{{item}}</option>
                    </select>
                    <select name="estado" class="form-select" *ngIf="matriculaEditar" [(ngModel)]="matriculaEditar.estado">
                        <option [value]="0">seleccione</option>
                      <option [value]="item" *ngFor="let item of estados">{{item}}</option>
                  </select>
                </div>
            </div>

            <div class="form-group row center">
                <div class="col-sm-12 center my-2">
                    <button class="btn btn-primary " *ngIf="!matriculaEditar" name="button">Guardar</button>
                    <button class="btn btn-primary " *ngIf="matriculaEditar" name="button">Actualizar</button>
                </div>
            </div>

        </form>
    </div>

    <div class="card border-primary mb-3">
        <div class="card-body text-primary">
            <h5 class="card-title">Matriculas</h5>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Usuario</th>
                        <th>Programa</th>
                        <th>Fecha De Matricula</th>
                        <th>Valor</th>
                        <th>Estado</th>

                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of matriculas">
                        <td>{{ item.id }} </td>
                        <td>{{ item.usuario }} </td>
                        <td>{{ item.programa }}</td>
                        <td>{{ item.fechaMatricula }}</td>
                        <td>{{ item.valor }}</td>
                        <td>{{ item.estado }}</td>

                        <td>
                            <button type="button" name="edit" (click)='edit(item)' class="btn btn-primary btn-sm " title="editar"><span class="bi bi-pencil"></span></button>
                            <button type="button" name="delete" (click)='delete(item)' class="btn btn-danger btn-sm" title="borrar"><span class="bi bi-trash"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>