<div class="card border-primary mb-3">
  <div class="bg-dark text-white">
    <div class="card-header">{{title}}</div>
    <div class="card-body"></div>
    <form (ngSubmit) = "create()" class="center">
      <div class="form-group row center">
        <label for="cedula" class="col-form-label col-sm-2">Cedula</label>
        <div class="col-sm-6 my-2">
          <input type="text" class="form-control" *ngIf="!usuarioEditar" [(ngModel)]="usuario.cedula" name="cedula" required="true">
          <input type="text" class="form-control" *ngIf="usuarioEditar"  [(ngModel)]="usuarioEditar.cedula" name="cedula" required="true">
        </div>
      </div>
      <div class="form-group row center">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6 my-2">
          <input type="text" class="form-control" *ngIf="!usuarioEditar" [(ngModel)]="usuario.nombre" name="nombre" required="true">
          <input type="text" class="form-control" *ngIf="usuarioEditar" [(ngModel)]="usuarioEditar.nombre" name="nombre" required="true">
        </div>
      </div>
      <div class="form-group row center">
        <label for="rol" class="col-form-label col-sm-2">Rol</label>
        <div class="col-sm-6 my-2">
          <input type="text" class="form-control" *ngIf="!usuarioEditar" [(ngModel)]="usuario.rol" name="rol" required="true">
          <input type="text" class="form-control" *ngIf="usuarioEditar" [(ngModel)]="usuarioEditar.rol" name="rol" required="true">
        </div>
      </div>
      <div class="form-group row center">`
        <label for="profesion" class="col-form-label col-sm-2">Profesion</label>
        <div class="col-sm-6 my-2">
          <input type="text" class="form-control" *ngIf="!usuarioEditar" [(ngModel)]="usuario.profesion" name="profesion" required="true">
          <input type="text" class="form-control" *ngIf="usuarioEditar" [(ngModel)]="usuarioEditar.profesion" name="profesion" required="true">
        </div>
      </div>
      <div class="form-group row center">
        <label for="empresaTrabajo" class="col-form-label col-sm-2">Empresa donde trabaja</label>
        <div class="col-sm-6 my-2">
          <input type="text" class="form-control" *ngIf="!usuarioEditar" [(ngModel)]="usuario.empresaTrabajo" name="empresaTrabajo" required="true">
          <input type="text" class="form-control" *ngIf="usuarioEditar" [(ngModel)]="usuarioEditar.empresaTrabajo" name="empresaTrabajo" required="true">
        </div>
      </div>
      <div class="form-group row center">
        <label for="nombreUsuario" class="col-form-label col-sm-2">Nombre de usuario</label>
        <div class="col-sm-6 my-2">
          <input type="text" class="form-control" *ngIf="!usuarioEditar" [(ngModel)]="usuario.nombreUsuario" name="nombreUsuario" required="true">
          <input type="text" class="form-control" *ngIf="usuarioEditar" [(ngModel)]="usuarioEditar.nombreUsuario" name="nombreUsuario" required="true">

        </div>
      </div>
      <div class="form-group row center">
        <label for="contrasena" class="col-form-label col-sm-2">Contrasena</label>
        <div class="col-sm-6 my-2">
          <input type="text" class="form-control" *ngIf="!usuarioEditar" [(ngModel)]="usuario.contrasena" name="contrasena" required="true">
          <input type="text" class="form-control" *ngIf="usuarioEditar"  [(ngModel)]="usuarioEditar.contrasena" name="contrasena" required="true">
        </div>
      </div>
      <div class="form-group row center">
        <label for="fechaNacimiento" class="col-form-label col-sm-2">Fecha Nacimiento (YYYY-MM-DD)</label>
        <div class="col-sm-6 my-2">
          <input type="text" class="form-control" *ngIf="!usuarioEditar" [(ngModel)]="usuario.fechaNacimiento" name="fechaNacimiento" required="true">
          <input type="text" class="form-control" *ngIf="usuarioEditar" [(ngModel)]="usuarioEditar.fechaNacimiento" name="fechaNacimiento" required="true">
        </div>
      </div>
      <div class="form-group row center">
        <div class="col-sm-12 center my-2">
          <button class="btn btn-primary " *ngIf="!usuarioEditar" name="button">Guardar</button>
          <button class="btn btn-primary " *ngIf="usuarioEditar" name="button">Actualizar</button>
        </div>
      </div>
    </form>
  </div>  

  <div class="card-body text-primary">
    <h5 class="card-title">Usuarios</h5>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Cedula</th>
          <th>Nombre</th>
          <th>Rol</th>
          <th>Profesion</th>
          <th>Empresa donde trabaja</th>
          <th>Fecha Nacimiento</th>
          <th>Nombre Usuario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of usuarios">
          <td>{{ item.cedula }}</td>
          <td>{{ item.nombre }} </td>
          <td>{{ item.rol }} </td>
          <td>{{ item.profesion }}</td>
          <td>{{ item.empresaTrabajo }}</td>
          <td>{{ item.fechaNacimiento }}</td>
          <td>{{ item.nombreUsuario }}</td>
          <td>
            <button type="button" name="edit" (click)='edit(item)' class="btn btn-primary btn-sm"><span class="bi bi-pencil"></span></button>
            <button type="button" name="delete" (click)='delete(item)' class="btn btn-danger btn-sm"><span class="bi bi-trash"></span></button>
         </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
